<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find mybot_description)/urdf/mybot.xacro'"/>

  <node pkg="tf" type="static_transform_publisher" name = "map_to_odom" args="0 0 0 0 0 0 map odom 100"/>
  <node pkg="rosbag" type="play" name="rosbagplay"
    args="--clock -q -r 1.0 $(find mybot_gazebo)/data.bag" />
</launch>
